<li>
  <ul>
    <img src="<%= group.image %>">
    <li><%= group.name %></li>
    <li><%= group.description %></li>
    <li><%= link_to "Show", group %></li>
    <li><%= link_to "Edit", edit_group_path(group) %></li>
    <li><%= link_to "Disband", group, method: :delete %></li>
  </ul>
</li>