<div class="medium-4 columns panel" data-equalizer-watch>
  <div class="group-image">
    <% if group.group_image.present? %>
    <%= link_to image_tag(group.group_image.detail.url), group.group_image.url %>
    <% elsif group.image.present? %>
    <%= image_tag group.image %>
    <% else %>
    <%= image_tag 'DefaultUserPic.png' %>
    <% end %>
  </div>
  <p>Group: <%= group.name %></p>
  <p>Owner: <%= User.find(group.creator_id).username %></p>
  <p><%= group.description %></p>
  <p>Created: <%= distance_of_time_in_words(Time.now, group.created_at) %> ago</p>
  <ul>
    <li><%= link_to "Show", group %></li>
    <li><%= link_to "Join!", group_subscribers_path(group), method: :post %></li>
    <% if current_user.subscribers.where(admin: true).where(group_id: group.id).present? %>
      <li><%= link_to "Edit", edit_group_path(group) %></li>
      <li><%= link_to "Disband", group, method: :delete %></li>
    <% end %>
  </ul>
</div>