<li>
  <ul>
    <div class="group-image">
    <% if group.group_image.present? %>
      <%= link_to image_tag(group.group_image.detail.url), group.group_image.url %>
    <% elsif group.image.present? %>
      <%= image_tag group.image %>
    <% else %>
      <%= image_tag 'DefaultUserPic.png' %>
    <% end %>
    </div>
    <li>Group: <%= group.name %></li>
    <li>Owner: <%= User.find(group.creator_id).username %></li>
    <li><%= group.description %></li>
    <li>Created: <%= distance_of_time_in_words(Time.now, group.created_at) %> ago</li>
    <li><%= link_to "Show", group %></li>
    <li><%= link_to "Join!", group_subscribers_path(group), method: :post %></li>
    <li><%= link_to "Edit", edit_group_path(group) %></li>
    <li><%= link_to "Disband", group, method: :delete %></li>
  </ul>
</li>