<h2>Search for a Game.</h2>
<%= search_form_for @q do |f| %>
<div>
  <%= f.label "Search" %>
  <%= f.text_field :name_cont %>
</div>
<%= f.submit class: "button small" %>
<% end %>

<h2>All Groups</h2>
<div class="row" data-equalizer>
  <%= render @groups %>
</div>

<%= link_to "Create a Group", new_group_path %>