<% if user_signed_in? %>
<% if @my_groups.present? %>
<div class="row" data-equalizer>
  <h2 class="text-center index-header">Your Groups</h2>
  <% @my_groups.each do |group| %>
  <%= render group %>
  <% end %>
</div>
<% end %>
<div class="top-line"></div>

<% end %>


<div class="row">
  <h2 class="text-center index-header">Search for a Group.</h2>
  <%= search_form_for @q do |f| %>
  <div class="medium-10 columns">
    <%= f.label "Search" %>
    <%= f.text_field :name_cont %>
  </div>
  <div class="medium-2 columns">
    <%= f.submit class: "button small radius search" %>
  </div>
  <% end %>
</div>

<% if @other_groups.present? %>

<div class="top-line"></div>
<div class="row" data-equalizer>
  <% if user_signed_in? %>
  <h2 class="text-center index-header">Other Groups You Can Join...</h2>
  <% else %>
  <h2 class="text-center index-header">Groups You Can Join...</h2>
  <% end %>
  <%= render @other_groups %>
</div>
<% end %>

<div class="row">
  <%= link_to "Create your own Group", new_group_path, class: "button success expand radius" %>
</div>