<div class="row">
  <h1 class="text-center top-margin"><%= @group.name %></h1>
  <%= image_tag @group.image %>
  <p class="text-center"><%= @group.description %></p>
  <ul class="tabs" data-tab>
    <li class="tab-title active"><a href="#panel1">Games</a></li>
    <li class="tab-title"><a href="#panel2">Users</a></li>
    <li class="tab-title"><a href="#panel3">Comments</a></li>
  </ul>
  <div class="tabs-content">
    <div class="content active" id="panel1">

    <% if @group.games.present? %>
      <ul class="example-orbit-content" data-orbit>
        <% @group.games.each_with_index do |game, index| %>
        <li data-orbit-slide="headline-<%= index %>">
          <div class="orbit-content">
            <div class="game-image">
              <%= image_tag game.image %>
            </div>
            <h2><%= game.name %></h2>
            <p><%= game.description %></p>
          </div>
        </li>
        <% end %>
      </ul>
    <% else %>
      <div class="text-center">
        <p>Looks like there are no games...</p>
        <%= link_to "Add a Game", games_path, class: "button small radius" %>
      </div>
    <% end %>
    </div>

    <div class="content" id="panel2">
      <ul class="accordion" data-accordion>
        <% @group.subscribers.each_with_index do |subscriber, index| %>
        <% user = User.find(subscriber.user_id) %>
        <li class="accordion-navigation">
          <a href="#panel<%= index %>a"><%= user.username %><%= " - Admin" if subscriber.admin == true %></a>
          <div id="panel<%= index %>a" class="content">
            <div class="subscriber-image">
              <% if user.user_image.present? %>
                <%= image_tag(user.user_image.thumb.url) %>
              <% else %>
                <%= image_tag 'DefaultUserPic.png' %>
              <% end %>
            </div>
            <p><%= user.description %></p>
            <%= link_to "Profile", user_path(user), class: "button tiny radius" %>
            <% if subscriber.admin == false && user_signed_in? %>
              <% if @group.subscribers.where(user_id: current_user.id).where(admin: true) %>
                <%= link_to "Make Admin", admin_group_subscriber_path(group_id: @group.id, id: subscriber.id), class: "button tiny radius" %>
              <% end %>
            <% end %>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
    
    <div class="content" id="panel3">
      <%= render partial: 'comments/comment', collection: @comments, locals: { commentable: @group }%>
      <% if user_signed_in? %>
      <div class="text-center">
        <a href="#" data-reveal-id="myModal", class="button tiny radius devise-links">Comment</a>
      </div>
      <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <%= render partial: 'comments/form', locals: { commentable: @group } %>
      </div>
      <% else %>
        <p class="text-center">You must be logged in to Comment...</p>
        <div class="medium- medium-offset-4 columns">
        <%= link_to "Sign In", new_user_session_path, class: "button tiny radius devise-links" %>
        <%= link_to "Register", new_user_registration_path, class: "button tiny radius devise-links" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

