<h1>Groups#show</h1>
<p>Find me in app/views/groups/show.html.erb</p>

<% @group.subscribers.each do |subscriber| %>
<% user = User.find(subscriber.user_id) %>
<ul>
  <li>
  <% if user.user_image.present? %>
    <%= link_to image_tag(user.user_image.thumb.url), user.user_image.url %>
  <% elsif user.image.present? %>
    <%= image_tag user.image  %>
  <% else %>
    <%= image_tag 'DefaultUserPic.png' %>
  <% end %>
  </li>
  <li><%= user.username %></li>
  <li><%= user.description %></li>
  <li>Admin: <%= subscriber.admin %></li>
</ul>
<% end %>