<li>
  <ul>
    <% if user.user_image.present? %>
      <%= image_tag user.user_image.url %>
    <% elsif user.image.present? %>
      <%= image_tag user.image  %>
    <% else %>
      <%= image_tag('DefaultUserPic.png') %>
    <% end %>
    <li><%= user.username %></li>
    <li><%= user.description %></li>
    <li><%= link_to "Show", user %></li>
    <li><%= link_to "Edit", edit_user_registration_path(user) %></li>
  </ul>
</li>