<div class="row top-margin">
  <div class="medium-4 columns">
    <div class="user-show">
      <% if @user.user_image.present? %>
      <%= image_tag(@user.user_image.detail.url) %>
      <% else %>
      <%= image_tag 'DefaultUserPic.png' %>
      <% end %>
    </div>
  </div>
  <div class="medium-8 columns">
    <h1 class="text-center"><%= @user.username %></h1>
  </div>
  <div class="medium-8 columns">
    <p class="text-center"><%= @user.description %></p>
  </div>
</div>

<div class="top-line row"></div>
<h2 class="text-center index-header">Groups this user is in</h2>

<div class="row" data-equalizer>
  <% @user.groups.each do |group| %>
  <div class="medium-4 columns panel group-buttons-container" data-equalizer-watch>
    <div class="group-image">
      <% if group.group_image.present? %>
      <%= image_tag(group.group_image.detail.url) %>
      <% elsif group.image.present? %>
      <%= image_tag group.image %>
      <% else %>
      <%= image_tag 'DefaultUserPic.png' %>
      <% end %>
    </div>
    <div class="group-content">
      <h3><%= group.name %></h3>
      <h5>Founder: <%= User.find(group.creator_id).username %></h5>
      <p><%= group.description %></p>
      <%= link_to "Show", group, class: "button tiny radius" %>
      <% if user_signed_in? %>
        <% if current_user.subscribers.where(group_id: group.id).present? == false %>
          <%= link_to "Join!", group_subscribers_path(group), method: :post, class: "button tiny radius"   %>
        <% elsif current_user.subscribers.where(admin: true).where(group_id: group.id).present? %>
          <%= link_to "Edit", edit_group_path(group), class: "button tiny radius" %>
          <%= link_to "Disband", group, method: :delete, class: "button tiny radius" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>