<div class="row">

  <div class="medium-5 medium-offset-2 columns">
    <% if @user.user_image.present? %>
    <%= image_tag(@user.user_image.detail.url) %>
    <% else %>
    <%= image_tag 'DefaultUserPic.png' %>
    <% end %>
  </div>
  <div class="medium-5 columns">
    <h1><%= @user.username %></h1>
  </div>
  <div class="medium-5 columns">
    <p><%= @user.description %></p>
  </div>
</div>

<div class="top-line"></div>
<h3 class="text-center">Groups this user is apart of...</h3>

<div class="row" data-equalizer>
  <% @user.groups.each do |group| %>
  <div class="medium-4 columns panel" data-equalizer-watch>
    <div class="group-image">
      <% if group.group_image.present? %>
      <%= image_tag(group.group_image.detail.url) %>
      <% elsif group.image.present? %>
      <%= image_tag group.image %>
      <% else %>
      <%= image_tag 'DefaultUserPic.png' %>
      <% end %>
    </div>
    <p>Group: <%= group.name %></p>
    <p>Owner: <%= User.find(group.creator_id).username %></p>
    <p><%= group.description %></p>
    <p>Created: <%= distance_of_time_in_words(Time.now, group.created_at) %> ago</p>
    <ul>
      <li><%= link_to "Show", group %></li>
      <% if current_user.subscribers.where(group_id: group.id).present? == false %>
        <li><%= link_to "Join!", group_subscribers_path(group), method: :post %></li>
      <% elsif current_user.subscribers.where(admin: true).where(group_id: group.id).present? %>
        <li><%= link_to "Edit", edit_group_path(group) %></li>
        <li><%= link_to "Disband", group, method: :delete %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>