<div class="medium-12 columns panel" data-equalizer-watch>
  <div class="game-image">
    <%= image_tag game.image %>
  </div>
  <div>
    <%= link_to "View", game, class: "button tiny right radius" %>
    <h2><%= game.name %></h2>
    <p><%= game.description %></p>
  </div>

  <div class="row">
    <% if user_signed_in? %>
      <% current_user.subscribers.each do |sub| %>
        <% if sub.admin == true %>
          <%= form_for @game, url: { action: "add" } do |f| %>
            <%= f.hidden_field :id, value: game.id %>
            <div class="medium-5 columns">
              <%= f.label :group_id, "Select a group to add #{game.name} to"%>
            <select name="group_id">
              <% current_user.subscribers.where(admin: true).each do |group| %>
                <option value="<%= group.group_id %>"><%= Group.find(group.group_id).name %></option>
              <% end %>
            </select>
            </div>
            <div class="medium-3 columns">
              <%= f.submit "Add game", class: "button tiny radius search" %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>