<div class="row">
  <h2 class="text-center">Featured Games</h2>
  <ul class="example-orbit" data-orbit>
    <li>
      <%= image_tag "fifa-orbit", class: "game-orbit" %>
      <div class="orbit-caption">
        <% @games.where(name: "Fifa 16").each do |game| %>
          <%= link_to "Fifa 16", game_path(game) %>
        <% end %>
      </div>
    </li>
    <li>
      <%= image_tag "cod-orbit", class: "game-orbit" %>
      <div class="orbit-caption">
        <% @games.where(name: "Call of Duty: Black Ops 3").each do |game| %>
          <%= link_to "Call of Duty: Black Ops 3", game_path(game) %>
        <% end %>
      </div>
    </li>
    <li>
      <%= image_tag "destiny-orbit", class: "game-orbit" %>
      <div class="orbit-caption">
        <% @games.where(name: "Destiny").each do |game| %>
          <%= link_to "Destiny", game_path(game) %> 
        <% end %>
      </div>
    </li>
  </ul>
</div>

<div class="row" data-equalizer>
  <div class="top-line"></div>
  <h2 class="text-center ">Search for a Game</h2>
  <%= search_form_for @q do |f| %>
  <div class="medium-10 columns" data-equalizer-watch>
    <%= f.label "Search" %>
    <%= f.text_field :name_cont %>
  </div>
  <div class="medium-2 columns" data-equalizer-watch>
    <%= f.submit class: "button small radius search" %>
  </div>
  <% end %>
</div>

<div class="row" data-equalizer>
  <div class="top-line"></div>
  <h2 class="text-center index-header">All Games</h2>
  <%= render @games %>
</div>