<h1>All Games</h1>

<ul class="example-orbit-content" data-orbit>
  <% @games.each_with_index do |game, index| %>
  <li data-orbit-slide="headline-<%= index %>">
    <div>
      <div class="game-image">
          <%= image_tag game.image %>
      </div>
      <h2><%= game.name %></h2>
      <h3><%= game.description %></h3>
    </div>
  </li>
  <% end %>
</ul>

<%= render @games %>