<h2 class="text-center">Log in</h2>

<div class="row">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="medium-2 columns">
    <%= f.label :email %>
  </div>
  <div class="medium-10 columns">
    <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
  </div>

  <div class="medium-2 columns">
    <%= f.label :password %>
  </div>
  <div class="medium-10 columns">
    <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
  </div>

  <div class="actions">
    <%= f.submit "Log in", class: "button small radius right devise-links" %>
  </div>
  <% end %>
  <div class="text-left devise-links"><%= render "devise/shared/links" %></div>
</div>
