<!DOCTYPE html>
<html>
<head>
  <title>WdiProject2</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>

</head>
<body>

  <%= render 'header' %>

  <footer class="row">
    <section class="medium-4 columns">
      Copyright 2013
    </section>
    <section class="medium-8 columns">
      All rights reserved.
    </section>
  </footer>
</body>
</html>