<!DOCTYPE html>
<html>
<head>
  <title>WdiProject2</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href='https://fonts.googleapis.com/css?family=Glegoo' rel='stylesheet' type='text/css'>
  
  <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>

</head>
<body>
  <header>
    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">

        <%= render 'nav' %>
        <%= render 'content' %>

        <a class="exit-off-canvas"></a>
        <%#= render 'footer' %>

      </div>
    </div>
  </header>
</body>
</html>